# Node dependencies
node_modules/
*.odt
# React build folder
client/build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Docker files
docker-compose.override.yml
*.env.local

# IDE files
.vscode/
.idea/

/src/generated/prisma
